/* .createArticlePage {

} */

.CreateArticlePage h1{
    text-align: right;
    margin: 40px 0;
    font-size: 18px;
    
}


.buttonWrapper{
    text-align: right;
    
}

.buttonWrapper button{
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    
}

.buttonWrapper button:active{
    opacity: .8;
    
}

